body {
    font-family: sans-serif;
    margin: 0;
}
.login {
    width: 300px;
    height: 300px;
    border: 1px solid gray;   
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}
.container{
    display:flex;
    justify-content:center;
    align-items: center;
}

.h1 {
    color: #868787;
    font-family: sans-serif;
}
input {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid gray;
}
#btnlogin {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #45a049;
    color: white;
}
a{
    text-decoration: none;
}
#btnlogin:hover{
    background-color: #115f15 ;
}
.fg{
    margin: 10px;
}
#fg{
    font-size: 12px;
}