<html>
<head>
    {% load static %}
    <title>Dữ liệu</title>
</head>
<style>
    .btn {
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #45a049;
        color: white;
    }
</style>
<body>
<div>
    <div >
        <div>
            <h4>Table name</h4>
            <div >
                <input class="table-name-input" type="text">
                <button class="btn table-name-input-button mx-2">
                    Fetch
                </button>
                <div id="logout_container"></div>
            </div>
        </div>
        <div class="table-container">
            <table id="table-base">
                <thead>
                <tr id="table-base__header"></tr>
                </thead>
                <tbody id="table-base__body"></tbody>
            </table>
        </div>
    </div>

</div>
<script crossorigin="anonymous"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script language="JavaScript" src="{% static 'js/db_display.js' %}" type="module"></script>
</body>
</html>