<!doctype html>
<html lang="en">
<!--<head>-->
<!--    {% load static %}-->
<!--    <meta charset="UTF-8">-->
<!--    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"-->
<!--          name="viewport">-->
<!--    <meta content="ie=edge" http-equiv="X-UA-Compatible">-->
<!--    <link href="{% static 'css/login.css' %}" rel='stylesheet'>-->
<!--    <script crossorigin="anonymous"-->
<!--            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="-->
<!--            referrerpolicy="no-referrer"-->
<!--            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="nar-bar">-->

<!--</div>-->
<!--<div id="home-container">-->
<!--    <div id="login-form-container">-->
<!--    </div>-->
<!--</div>-->
<!--<div id="footer"></div>-->
<!--<script language="JavaScript" src="{% static 'js/script.js' %}" type="module"></script>-->
</body>
</html>