<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script crossorigin="anonymous"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="{% static 'css/login.css' %}" rel='stylesheet'>
</head>
<style>
    #btn-logout {
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #45a049;
        color: white;
    }

</style>
<body>
    <button id="btn-logout" type="button"><span>Log out</span>
    </button>
</div>
<script language="JavaScript" src="{% static 'js/logout.js' %}" type="module"></script>
</body>
</html>
